In [3]:
from nba_api.stats.static import players
from nba_api.stats.endpoints import playergamelog
from nba_api.stats.library.parameters import SeasonAll
import pandas as pd

In [4]:
player_dict = players.get_players()
kobe = [player for player in player_dict if player['full_name'] == 'Kobe Bryant'][0]
kobe_id = kobe['id']

In [5]:
gamelog_kobe = playergamelog.PlayerGameLog(player_id=kobe_id, season = SeasonAll.all)

In [6]:
df_kobe_games_all = gamelog_kobe.get_data_frames()[0]

In [7]:
df_kobe_games_all['OPPONENT'] = df_kobe_games_all['MATCHUP'].apply(lambda x: x.split()[-1])

In [8]:
# clean up opponent abbreviation
remap = {"UTH": "UTA", "SAN": "SAS", "PHO": "PHX",  "NJN": "BKN", "NOK": "NOP", "NOH":"NOP", "SEA": "OKC", "CHH": "CHA", "VAN": "MEM"}
df_kobe_games_all['OPPONENT'].replace(remap, inplace=True)
df_kobe_games_all['OPPONENT'].value_counts()

LAC    69
MEM    67
GSW    67
DEN    66
OKC    65
PHX    64
SAC    64
MIN    64
POR    62
SAS    61
HOU    61
UTA    60
DAL    60
NOP    41
IND    34
CLE    34
NYK    34
TOR    33
MIA    33
DET    33
WAS    32
MIL    32
PHI    32
CHI    31
BOS    31
CHA    31
ORL    29
ATL    29
BKN    27
Name: OPPONENT, dtype: int64

In [9]:
df_kobe_games_all.columns

Index(['SEASON_ID', 'Player_ID', 'Game_ID', 'GAME_DATE', 'MATCHUP', 'WL',
       'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE', 'OPPONENT'],
      dtype='object')

In [10]:
out_df = df_kobe_games_all.groupby('OPPONENT').agg(
    GAME_COUNT = ('Game_ID', 'count'),
    W_COUNT = ('WL', lambda x: (x=='W').sum()),
    L_COUNT = ('WL', lambda x: (x=='L').sum()),
    MIN_TOTAL = ('MIN', 'sum'),
    MIN_PER = ('MIN', 'mean'),
    FGM_TOTAL = ('FGM', 'sum'),
    FGM_PER = ('FGM', 'mean'),
    FGA_TOTAL = ('FGA', 'sum'),
    FGA_PER=('FGA', 'mean'),
    
    
    
    ).round(1)

In [11]:
out_df

,GAME_COUNT,W_COUNT,L_COUNT,MIN_TOTAL,MIN_PER,FGM_TOTAL,FGM_PER,FGA_TOTAL,FGA_PER
OPPONENT,,,,,,,,,
ATL,29,18,11,987,34.0,235,8.1,519,17.9
BKN,27,20,7,991,36.7,214,7.9,505,18.7
BOS,31,18,13,1146,37.0,273,8.8,652,21.0
CHA,31,19,12,1100,35.5,266,8.6,620,20.0
CHI,31,18,13,1112,35.9,268,8.6,610,19.7
CLE,34,17,17,1169,34.4,274,8.1,621,18.3
DAL,60,42,18,2222,37.0,499,8.3,1116,18.6
DEN,66,42,24,2311,35.0,568,8.6,1243,18.8
DET,33,22,11,1161,35.2,266,8.1,602,18.2
GSW,67,51,16,2398,35.8,628,9.4,1356,20.2
HOU,61,35,26,2336,38.3,588,9.6,1338,21.9
IND,34,20,14,1171,34.4,278,8.2,671,19.7
LAC,69,47,22,2454,35.6,587,8.5,1285,18.6
MEM,67,44,23,2355,35.1,579,8.6,1276,19.0
MIA,33,16,17,1205,36.5,278,8.4,627,19.0
MIL,32,24,8,1160,36.2,254,7.9,586,18.3
MIN,64,47,17,2233,34.9,543,8.5,1200,18.8
NOP,41,28,13,1533,37.4,366,8.9,822,20.0
NYK,34,23,11,1197,35.2,306,9.0,657,19.3
OKC,65,35,30,2303,35.4,552,8.5,1248,19.2
ORL,29,18,11,1122,38.7,250,8.6,584,20.1
PHI,32,18,14,1169,36.5,280,8.8,614,19.2
PHX,64,38,26,2348,36.7,593,9.3,1282,20.0
POR,62,30,32,2342,37.8,587,9.5,1255,20.2
SAC,64,42,22,2358,36.8,578,9.0,1265,19.8
SAS,61,25,36,2257,37.0,540,8.9,1267,20.8
TOR,33,24,9,1205,36.5,313,9.5,664,20.1
UTA,60,34,26,2167,36.1,495,8.2,1115,18.6
WAS,32,21,11,1129,35.3,261,8.2,600,18.8

In [12]:
out_df.T.to_json("../dist/assets/data/game_stats.json")

In [13]:
out_df.T.to_csv("../dist/assets/data/game_stats.csv")